aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.4.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
asyncpg==0.29.0
attrs==23.2.0
bcrypt==4.1.3
blinker==1.8.2
build==1.2.1
CacheControl==0.14.0
cachetools==5.5.0
cassandra-driver==3.29.1
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
crashtest==0.4.1
cryptography==42.0.8
cycler==0.12.1
databases==0.9.0
dataclasses-json==0.6.7
discord==2.3.2
discord.py==2.4.0
distlib==0.3.8
distro==1.9.0
Django==5.1.2
dnspython==2.6.1
dulwich==0.21.7
ecdsa==0.19.0
email_validator==2.1.1
eventlet==0.37.0
fast-depends==2.4.4
fastapi==0.114.2
fastapi-cli==0.0.4
fastjsonschema==2.20.0
faststream==0.5.14
filelock==3.15.4
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.4.1
functions==0.7.0
geomet==0.2.1.post1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.23.0
google-auth==2.36.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
greenlet==3.0.3
groq==0.9.0
h11==0.14.0
helper_scripts==0.3.8
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
iniconfig==2.0.0
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
Jinja2==3.1.4
jiter==0.5.0
jose==1.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jwt==1.3.1
keyring==24.3.1
kiwisolver==1.4.7
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.34
langchain-groq==0.1.9
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langserve==0.2.2
langsmith==0.1.104
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
mdurl==0.1.2
more-itertools==10.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
narwhals==1.5.0
nats-py==2.7.2
neo4j==5.20.0
nest-asyncio==1.6.0
numpy==1.26.4
openai==1.42.0
orjson==3.10.3
packaging==24.1
pandas==2.2.2
passlib==1.7.4
pathlib==1.0.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.1
platformdirs==4.2.2
plotly==5.23.0
plotly-express==0.4.1
pluggy==1.5.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
proto-plus==1.25.0
protobuf==5.27.3
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg-pool==3.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-extra-types==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.1.4
pyproject-toml==0.0.10
pyproject_hooks==1.1.0
pytest==8.2.2
pytest-asyncio==0.23.8
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rapidfuzz==3.9.3
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.18.1
rpy2==3.5.16
rsa==4.9
schemas==0.7.1
scipy==1.14.1
scylla-driver==3.26.8
setuptools==73.0.1
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.31
sqlparse==0.5.1
starlette==0.37.2
statsmodels==0.14.2
streamlit==1.40.2
streamlit-lottie==0.0.5
tenacity==8.5.0
tiktoken==0.7.0
toml==0.10.2
tomlkit==0.12.5
tornado==6.4.1
tqdm==4.66.5
trove-classifiers==2024.7.1
twilio==9.2.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.2
uuid6==2024.7.10
uuid7==0.1.0
uvicorn==0.30.1
vega-datasets==0.9.0
virtualenv==20.27.1
watchdog==4.0.2
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.4
wheel==0.44.0
XlsxWriter==3.2.0
yarl==1.9.4
